<h1 mat-dialog-title> Add User</h1>
<mat-dialog-content>
  <div>
    <mat-form-field class="mr-16">
      <mat-label>First Name</mat-label>
      <input matInput />
      <!-- <mat-hint>Please ente a name</mat-hint> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput />
      <!-- <mat-hint>Please ente a name</mat-hint> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="datepicker" />
      <!-- <mat-hint>Please ente a date</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button matButton matDatepickerCancel>Cancel</button>
          <button matButton="elevated" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <mat-label>Street + House No.</mat-label>
      <input matInput />
      <!-- <mat-hint>Please ente a name</mat-hint> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="mr-16">
      <mat-label>Zip Code</mat-label>
      <input matInput />
      <!-- <mat-hint>Please ente a name</mat-hint> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput />
      <!-- <mat-hint>Please ente a name</mat-hint> -->
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions >
  <button class="ml-16" matButton (click)="onNoClick()">Cancel</button>
  <button matButton cdkFocusInitial>Save</button>
</mat-dialog-actions>