mat-drawer-container {
  height: 100vh;
}

.example-icon {
  padding: 0 14px;
  color: #E8EAF6;
  display: flex;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  cursor: pointer;
}