@use '@angular/material'as mat;

.add-user {
  position: absolute;
  right: 56px;
  bottom: 56px;
  @include mat.fab-overrides((container-color: #3F51B5,
      container-elevation-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.4),
    ));
}

.user-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgb(0, 0, 0, 0.2);
  background: rgb(0, 0, 0, 0.04)
}